<section>
	<article data-type="casa-hogar">
		<aside class="index">
			<h3>Casa Hogar</h3>
			<p>Lorem ipsu dollorem ipsu dollor ollorem ipsu dollorr</p>
		</aside>
	</article>
	<article data-type="historia">
		<aside>
    	<h3>Historia</h3>
    	 <p>Lorem ipsu dollorem ipsu dollor ollorem ipsu dollorr</p>
  	</aside>
	</article>
	<article data-type="servicios">
		<aside>
  		<h3>Services</h3>
  		<p>Lorem ipsu dollorem ipsu dollor ollorem ipsu dollorr</p>
  	</asdata-typee>
	</article>
	<article data-type="mision">
		<aside>
  		<h3>Misión y Visión</h3>
    	<p>Lorem ipsu dollorem ipsu dollor ollorem ipsu dollorr</p>
  	</aside>
	</article>
	<article data-type="who">
		<aside>
    	<h3>Quienes?</h3>
    	<p>Lorem ipsu dollorem ipsu dollor ollorem ipsu dollorr</p>
   	</aside>
	</article>
</section>
